{% extends "TroiswaBackBundle::layout-admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/css/plugins/morris.css", absolute=true) }}">
{% endblock %}

{% block h1 %}
    Gestion des Produits
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <i class="fa fa-dashboard"></i>
        {% if routePath=="troiswa_back_product_add" %}
        Ajouter un produit
        {% else %}
        Modifier un produit
        {% endif %}
    </li>
{% endblock %}

{% block sidebar_menu %}
    <li class="active">
        {% if routePath!="troiswa_back_administration" %}
            <a href="{{ path('troiswa_back_administration') }}">
                <i class="fa fa-fw fa-dashboard"></i> Accueil
            </a>
        {% else %}
            <i class="fa fa-fw fa-dashboard"></i> Accueil
        {% endif %}
    </li>
    <li class="active">
        <a href="{{ path('troiswa_back_contact') }}">
            <i class="fa fa-fw fa-dashboard"></i> Mes Produits
        </a>
    </li>
{% endblock %}

{% block content %}

    {{ form_start(formProduct) }}
    <div class="form-group">
        {{ form_label(formProduct.title,"Titre", {"label_attr":{class : 'form-label'}}) }}
        {{ form_errors(formProduct.title) }}
        {{ form_widget(formProduct.title, {attr: {class:'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formProduct.description,"Description", {"label_attr":{class : 'form-label'}}) }}
        {{ form_errors(formProduct.description) }}
        {{ form_widget(formProduct.description, {attr: {class:'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formProduct.price,"Prix", {"label_attr":{class : 'form-label'}}) }}
        {{ form_errors(formProduct.price) }}
        {{ form_widget(formProduct.price, {attr: {class:'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formProduct.quantity,"Quantité", {"label_attr":{class : 'form-label'}}) }}
        {{ form_errors(formProduct.quantity) }}
        {{ form_widget(formProduct.quantity, {attr: {class:'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formProduct.cover,"Image") }}
        {{ form_errors(formProduct.cover) }}
        {{ form_widget(formProduct.cover) }}
    </div>
    <div class="form-group">
        {{ form_label(formProduct.active,"Active") }}
        {{ form_errors(formProduct.active) }}
        {{ form_widget(formProduct.active) }}
    </div>
    {{ form_end(formProduct) }}

{% endblock %}

