{% extends "TroiswaBackBundle::layout-admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/css/plugins/morris.css", absolute=true) }}">
{% endblock %}

{% block h1 %}
    Gestion des Catégories
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <i class="fa fa-dashboard"></i> Liste des catégories
    </li>
{% endblock %}

{% block sidebar_menu %}
    <li class="active">
        {% if routePath!="troiswa_back_administration" %}
            <a href="{{ path('troiswa_back_administration') }}">
                <i class="fa fa-fw fa-dashboard"></i> Accueil
            </a>
        {% else %}
            <i class="fa fa-fw fa-dashboard"></i> Accueil
        {% endif %}
    </li>
    <li class="active">
        <a href="{{ path('troiswa_back_contact') }}">
            <i class="fa fa-fw fa-dashboard"></i> Mes Catégories
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <p style="float:right">
            <a href="{{ path('troiswa_back_category_add') }}" class="btn btn-primary">Créer une catégorie</a>
        </p>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <input class="rubrique" type="hidden" value="{{ routePath }}"/>
            {% for oneCategory in category %}
                <tr>
                    <td>{{ oneCategory.title }}</td>
                    <td>{{ oneCategory.description }}</td>
                    <td>{{ oneCategory.position }}</td>
                    <td>
                        <a href="{{ path('troiswa_back_category_info', { idcat: oneCategory.id }) }}" class="btn btn-info">Voir</a>
                        <a href="{{ path('troiswa_back_category_update', { idcat: oneCategory.id }) }}" class="btn btn-warning">Editer</a>
                        <a href="{{ path('troiswa_back_category_delete', { idcat: oneCategory.id }) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('/assets/js/remove.js', absolute=true) }}"></script>
{% endblock %}